.environment-widget {
  position: relative;

  .label-namespace {
    background: @body-bg-color;
    position: absolute;
    top: -1em;
    left: 1em;
    padding: .25em 0;
  }

  ul {
    display: flex;
    list-style-type: none;
    border-radius: 1em;
    border: 1px solid @gray;
    padding: 1em;

    li {
      flex: 1 1 auto;
      padding: .25em .5em;
      background: @gray-lighter;
      position: relative;

      .resource-name {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > * {
        z-index: 2;
      }

      &:not(:last-child) {
        //margin-right: 1em;
      }

      @caret-width: 2em;
      @caret-height: 2em;

      &.breadcrumb-left,
      &.breadcrumb-right {
        &:after {
          content: "";
          display: block;
          position: absolute;


          width: sqrt(pow(@caret-width,2) + pow(@caret-height,2)) / 2;
          height: sqrt(pow(@caret-width,2) + pow(@caret-height,2)) / 2;

          border-top: 1px solid @body-bg-color;
          border-right: 1px solid @body-bg-color;

          background: @gray-lighter;

          z-index: 1;
        }
      }

      &.breadcrumb-right:after {
        right: -12px;
        top: 3px;

        border-top-left-radius: .25em;
        border-bottom-left-radius: .25em;

        transform: rotate(45deg);
      }

      &.breadcrumb-left:after {
        left: -12px;
        top: 3px;

        transform: rotate(-135deg);
      }

      &:first-child {
        border-top-left-radius: .25em;
        border-bottom-left-radius: .25em;
      }

      &:last-child {
        border-top-right-radius: .25em;
        border-bottom-right-radius: .25em;
      }
    }
  }
}