.environment-widget {
  @border: 2px solid #666;
  @background: @gray-light;

  .label-namespace {
    position: absolute;
    top: -1.125em;
    left: .5em;
    display: block;
    padding: .25em .5em;
    background: @body-bg-color;

    i {
      opacity: .8;
    }
  }

  .breadcrumbs {
    @breadcrumb-bg: @gray-light;
    @breadcrumb-bg-active: @tr-active-color;
    @breadcrumb-bg-hover: lime;

    @breadcrumb-border: 2px solid #666;

    display: flex;

    li {
      position: relative;
      display: inline-block;
      width: auto;
      margin: .5em 0 0 0;

      flex: 1 1 auto;
      width: 0;
    }

    li > * {
      padding: 1em .5em;
      display: block;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    li.active,
    li.active:before,
    li.active:after {
      background: @breadcrumb-bg-active;
    }

    .breadcrumb-left,
    .breadcrumb-right,
    .breadcrumb-middle {
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        right: 0;
        background: white;
        border-left: @breadcrumb-border;
        border-right: @breadcrumb-border;
        z-index: -2;
      }
    }

    .breadcrumb-right {
      &:before {
        top: 0;
        transform: skew(30deg);
        border-top: @breadcrumb-border;
      }

      &:after {
        bottom: 0;
        transform: skew(-30deg);
        border-bottom: @breadcrumb-border;
      }
    }

    .breadcrumb-left {
      &:before {
        top: 0;
        transform: skew(-30deg);
        border-top: @breadcrumb-border;
      }

      &:after {
        bottom: 0;
        transform: skew(30deg);
        border-bottom: @breadcrumb-border;
      }
    }

    .breadcrumb-middle {
      &:before {
        top: 0;
        transform: perspective(60) rotateX(-30deg) scaleY(1.125) translateY(0.2px);
        border-top: @breadcrumb-border;
      }

      &:after {
        bottom: 0;
        transform: perspective(60) rotateX(30deg) scaleY(1.125) translateY(-0.2px);
        border-bottom: @breadcrumb-border;
      }
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}