.icinga-state-reason {
  .icon-container {
    display: flex;
    align-items: center;
  }
  .state-ball {
    flex-shrink: 0;
    margin-right: .4em;
  }

  .row {
    display: flex;
    align-items: flex-start;

    .reason {
      color: @text-color-light;
    }

    .highlight-text {
      color: @text-color;
    }
  }
}

.object-detail :not(.caption) > .icinga-state-reason {
  line-height: 1.75em;

  .icon-container {
    height: 1.75em;
  }
}

.caption > .icinga-state-reason {
  font-size: 0.91666667em;
  line-height: 1.63636364em;

  .icon-container {
    height: 1.63636364em;
  }

  .reason {
    .text-ellipsis();
  }

  .tooltip-holder {
    pointer-events: none;
  }
}

.workload-rows,
.pod-rows,
.container-rows {
  margin-left: .75em;

  .row:before {
    content: '';

    min-width: 1em;
    height: 1em;
    border-left: 1px solid @gray-light;
    border-bottom: 1px solid @gray-light;

    transform: translateX(~"calc(-.375em - 0.5px)") translateY(-1px);
  }
}

.minimal-item-layout .caption,
.default-item-layout .caption {
  > .icinga-state-reason .row:before {
    display: none;
  }
}

.workload-rows .pod-rows,
.pod-rows .container-rows {
  // level-indicator (1em) + state-ball margin (0.4em) + half state-ball size m (0.375em)
  margin-left: ~"calc(" 1em + .4em + .375em ~"- 0.5px)";
}
