.labels {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .horizontal-key-value > .key {
    padding-right: 1em;
    text-align: right;
  }

  .title {
    background: @gray-lighter;
    border-radius: .25em;
    display: block;
    margin: 0 -.5em;
    padding: .25em .5em;
  }
}
